<ion-content>
    <div class="ion-padding" style="height: 30%; text-align: center;">
      <ion-icon name="cart" style="font-size: 100px;"></ion-icon><br>
      <h1 style="font-size: 55px; color: #222222; font-weight: bold; text-shadow: 0px 2px 2px #ffffff;">Mercadinho</h1>
    </div>
    <div class="ion-padding" style="height: 30%; text-align: center;">
      <p style="font-size: 27px; color: #777777;">Bem vindo
        <br>
        Antes de começar suas compras
        <br>
        Selecione qual o seu perfil
      </p>
    </div>
    <div class="ion-padding col-md-6 offset-md-3" style="height: 40%;">
      <ion-button color="dark" (click)="goToTeacher()" expand="block" size="large">Sou professor</ion-button>
      <br>
      <ion-button color="danger" (click)="presentAlertPrompt()" expand="block" size="large">Sou aluno</ion-button>
    </div>
</ion-content>