<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/aluno"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho de compras - Total: R$ {{total}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="products && products.length > 0; else empty">
  <div *ngFor="let product of products">
    <ion-list>
      <ion-item>
        <ion-label>
          {{product?.name}}
        </ion-label>
        <ion-label>
          R$ {{product?.price}},00
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
  

</ion-content>

<ng-template #empty>
  <div class="center">
    <ion-icon style="font-size: 100px; margin-left: 30px" name="paper"></ion-icon>
    <p align="center">Seu carrinho está vazio</p>
  </div>
</ng-template>