<ion-header>
  <ion-toolbar>
    <ion-title>Cria sua conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <br><br><br>
    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button expand="full" [disabled]="!formGroup.valid">Criar</ion-button>
    </form>
  </div>
</ion-content>