
.retangle {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border: solid 10px #555555;
    border-radius: 10px;
}

.image {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(1, 1, 1, .4);
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

ion-app.cameraView ion-nav{opacity:0}