<ion-header>
  <ion-toolbar *ngIf="image">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Adicionar o item: {{product?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="{{image ? 'blur' : null}}">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button side="start" (click)="goToCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div class="image" *ngIf="product?.image">
  <img class="center" src="{{product?.image}}">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="question()" side="start">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>