<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher"></ion-back-button>
    </ion-buttons>
    <ion-title>Perguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="container" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Digite a pergunta</ion-label>
      <ion-input formControlName="question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digite a resposta</ion-label>
      <ion-input formControlName="answer"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="save()" expand="full">Salvar</ion-button>
  </form>
</ion-content>