<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Mercadinho</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="exit()">
        sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="products && products.length > 0; else empty">
    <ion-list *ngFor="let product of products">
      <ion-item (click)="actionSheet(product)">
        <ion-label>{{product?.name}}</ion-label>
        <ion-label>R$ {{product?.price}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/teacher/produto/new']" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #empty>
  <br><br>
  <div style="width: 100%; text-align: center;">
      <ion-icon style="font-size: 150px; color: #666666;" name="cart"></ion-icon>
    <h2 style="text-align: center;">Não há registros cadastrados</h2>
  </div>
</ng-template>